---
--- 
//
// IMPORTS
//

@import "_sass/utilities/_all";
@import "_sass/base/_all";
@import "_sass/elements/_all";
@import "_sass/form/_all";
@import "_sass/components/_all";
@import "_sass/grid/_all";
@import "_sass/helpers/_all";
@import "_sass/layout/_all";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  line-height: 1.8em;
  font-size  : 1.1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

hr {
  margin: 0;
}

.post {
  img {
    margin: 1.5em 0 1.5em 0;
  }

  p {
    margin    : 0 0 1.5em 0;
    text-align: justify;
  }
}

.navbar {
  .navbar-item {
    @include until($desktop) {
      margin-top  : 2em;
      padding-left: 0;
    }
  }
}


.post-category {

  padding   : 0.4em 1em;
  color     : #fff;
  background: rgb(50, 10, 82);
  margin-top: 0.25em;
  display   : inline-block;

}

;

.post-category:hover {
  color: rgb(143, 129, 194);
}

.highlight {
  margin-bottom: 1.5em;
  margin-top   : 1.5em;

}

.dark-gradient {
  max-height: 100%;
  background: linear-gradient(90deg,
      rgb(10, 0, 5) 10%,
      rgba(255, 255, 255, 0) 100%);
}

.parallax {
  display              : flex;
  min-height           : 40vh;
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;

  .post-header {

    h1 {
      font-size: 2rem;
    }

    h1,

    p {
      margin-bottom: 10px;
    }

  }

}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
@import "highlights";