--- 
---
//
// IMPORTS
//

@import "variables";
@import "bulma";
// Syntax highlighting @import is at the bottom of this file


.the-reader {
  background-image   : url(/images/SitReadingDoodle.svg);
  max-width          : 100%;
  height             : 30vh;
  background-repeat  : no-repeat;
  background-position: center;
  margin-top         : 20px;


  @include until($tablet) {
    height             : 40vh;
    background-position: right;
    margin-top         : 0;
  }


}

.header-wrapper {
  background: #128c7e;
}

.parallax {
  /* Full height */
  height: 40vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.posts>.post {
  padding-bottom: 2em;
  border-bottom : 1px solid $lightGray;
}

.post:first-child {
  margin-top: 5vh;
}

.post:last-child {
  margin-bottom : 15vh;
  padding-bottom: 1em;
  border-bottom : none;
}

.post {
  blockquote {
    margin     : 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding    : 0.1em 1em;
    color      : $gray;
    font-size  : 22px;
    font-style : italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size     : 15px;
  }
}

.excerpt {
  text-align: justify;
  text-align: center;


}

.page {
  text-align: justify;
}

.navbar {
  background-color: transparent;
  display: flex;
  
  @include until($tablet) {
    align-items: center;
    flex-direction: column;
  }
  

  .blog-title {
    color: white;
  }

  .header-button {
    display        : inline-block;
    text-decoration: none;
    position       : relative;
  }

  .header-button .border-wrapper {
    position: relative;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
    padding : 0.3em 0.5em;
    border  : 2px solid #000000;
  }


  .header-button .border-wrapper .label {
    font-weight       : 600;
    color             : #000;
    margin            : 0;
    text-align        : center;
    text-transform    : uppercase;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition   : all 0.15s ease-out;
    -o-transition     : all 0.15s ease-out;
    transition        : all 0.15s ease-out;
  }


  .header-button-border {
    position          : absolute;
    background-color  : #bcbcbc;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition   : all 0.25s ease-out;
    -o-transition     : all 0.25s ease-out;
    transition        : all 0.25s ease-out;
  }

  .header-button:hover .border-wrapper .header-button-border-left,
  .header-button:hover .border-wrapper .header-button-border-right {
    height: calc(100% + 2px);
  }

  .header-button:hover .border-wrapper .header-button-border-top,
  .header-button:hover .border-wrapper .header-button-border-bottom {
    width: calc(100% + 2px);
  }

  .header-button-border-left {
    left  : -2px;
    bottom: -2px;
    width : 2px;
    height: 0;
  }

  .header-button-border-top {
    left  : -2px;
    top   : -2px;
    width : 0;
    height: 2px;
  }

  .header-button-border-right {
    right : -2px;
    top   : -2px;
    width : 2px;
    height: 0;
  }

  .header-button-border-bottom {
    right : -2px;
    bottom: -2px;
    width : 0;
    height: 2px;
  }
}


/* angled div */
.slanted-div {
  position     : relative;
  padding      : 5vh 0 5vh;
  background   : #128c7e;
  overflow     : visible;
  z-index      : 1;
  margin-bottom: 10vh;
}

/* where the magic happens */
.slanted-div:after {
  content         : '';
  width           : 100%;
  height          : 100%;
  position        : absolute;
  background      : inherit;
  z-index         : -1;
  bottom          : 0;
  transform-origin: left bottom;
  transform       : skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.slanted-div div {
  text-align: center;
  font-size : 1.2rem;
}

/* responsive */
@media only screen and (max-width : 720px) {

  .slanted-div {
    padding: 2.5vh 0 2.5vh;
  }

}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";