
<div class="parallax" style="background-image: url({{ site.baseurl }}/images/{{ include.image }});">
    <div class="container post-header Aligner">
        <div class="Aligner-item">
        <h1>{{ page.title }}</h1>
        <p> Written on {{ page.date | date: "%B %e, %Y" }} </p>
        {% if page.tags %}
        <p>
          {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>
          {% endfor %}
        </p>
        {% endif %}
    </div>
    </div>
</div>