<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/flexboxgrid.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/monokai.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />

</head>

<body>


  <div class="header-wrapper">
    <header class="container">
      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item blog-title" href="https://bulma.io">
            {{ site.name }}
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">

            <div class="header-buttons">
              <a href="{{ site.baseurl }}/" class="header-button nav-link">
                <div class="border-wrapper">
                  <div class="label">Blog</div>
                  <div class="header-button-border header-button-border-left"></div>
                  <div class="header-button-border header-button-border-top"></div>
                  <div class="header-button-border header-button-border-right"></div>
                  <div class="header-button-border header-button-border-bottom"></div>
                </div>
              </a>

              <a href="{{ site.baseurl }}/about" class="header-button nav-link">
                <div class="border-wrapper">
                  <div class="label">About</div>
                  <div class="header-button-border header-button-border-left"></div>
                  <div class="header-button-border header-button-border-top"></div>
                  <div class="header-button-border header-button-border-right"></div>
                  <div class="header-button-border header-button-border-bottom"></div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </nav>
    </header>
  </div>



  <div id="main" role="main">
    {{ content }}
  </div>


  {% include analytics.html %}
</body>

</html>