<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/flexboxgrid.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/monokai.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />

</head>

<body>

  <header class="container header">
    <div class="row middle-xs">

      <div class="col-xs-12 col-md-8">

        <div class="row center-xs center-sm">

          <div class="col-xs-12 col-md-2">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          </div>

          <div class="col-xs-12 col-md-10">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

        </div>

      </div>

      <div class="col-xs-12 col-md-4">

        <div class="row center-xs center-sm end-md bottom-md">

          <nav class="main-nav col-xs-12">

            <a href="{{ site.baseurl }}/" class="button nav-link">
              <div class="border-wrapper">
                <div class="label">Blog</div>
                <div class="button-border button-border-left"></div>
                <div class="button-border button-border-top"></div>
                <div class="button-border button-border-right"></div>
                <div class="button-border button-border-bottom"></div>
              </div>
            </a>

            <a href="{{ site.baseurl }}/about" class="button nav-link">
              <div class="border-wrapper">
                <div class="label">About</div>
                <div class="button-border button-border-left"></div>
                <div class="button-border button-border-top"></div>
                <div class="button-border button-border-right"></div>
                <div class="button-border button-border-bottom"></div>
              </div>
            </a>

          </nav>

        </div>

      </div>
    </div>


  </header>


  <div id="main" role="main">
    {{ content }}
  </div>


  {% include analytics.html %}
</body>

</html>